template(name='deedit')
  .container
    .row.clearfix
      .col-md-12.column
        h3.text-center
          | 医院专科编辑页面
        .container
        h4  XX医院A科 
        table.table.table-hover.table-bordered
          thead
            tr
              th 专科名
              th 科主任
              th
                | 医生数
              th
                | 护士数
              th
                | 床位数
              th
                | …
              th
                | 专家评分
                //a(href='thescoreofsp') 进入 »
          tbody
            tr
              td
                | B科
              td
                input(type="text" placeholder="注1")
              td
                input(type="number")
              td
                input(type="number")
              td 
                input(type="number")
              td  
                input(type="number")
              td 
                input(type="number")
            tr
             td
                | A科
              td
                input(type="text")
              td
                input(type="number")
              td
                input(type="number")
              td
                input(type="number")
              td
                input(type="number")
              td 
                input(type="number")
        .container
          button.btn.btn-primary 确认
          a.btn.btn-warning(href="departmentlist") 取消
        .container
            br
            p 注：
            p 1.后台管理：如果数据库已有数值，显示该数值，否则，为空.
