template(name='HosIntroForHos')
  p.text-warning 用户权限：初级会员/普通会员/理事会员/常务理事会员/医院录入员
  h2.text-center
    | XX医院
  img.img-responsive(src="http://www.layoutit.com/img/theme_editor.png" alt="Responsive image")
  p
    mark 可放入医院照片
  br 
  p 正文部分：由医院提供简介作宣传，点击编辑可编辑该介绍内容。
  p 注:
  ol
    li 点击权限：医院录入员/医院领导和系统管理员