template(name='hosintroforalb')
 .container
    .row.clearfix
      .col-md-12.column
        p.text-warning 用户权限：系统管理员
        h2.text-center
          | XX医院
        img.img-responsive(src="http://www.layoutit.com/img/theme_editor.png" alt="Responsive image")
        p
          mark 可放入医院照片
        br 
        p 正文部分：由医院提供简介作宣传，点击编辑可编辑该介绍内容。
        p
          a.btn(href='hosedit') 编辑»[注1]
        h3.text-center 医院信息
        p
         ul
            li 院长姓名
            li 院长手机
            li 院长邮箱
            li 联系人姓名
            li 联系人手机
            li 联系人邮箱
        p 注:
        ol
          li 点击权限：医院录入员/医院领导和系统管理员
        