template(name='signup')

  h1  Sign Up 

  p
    | Sign up if you do not have an account yet. Or, 
    a(href='#')
      strong Sign in

  form
    input#su-email(type='text', placeholder='Email')
    input#su-username(type='text', placeholder='Username')
    input#su-password(type='password', placeholder='Password')
    .col-sm-offset-2.col-sm-10
      button  Sign Up


template(name='login')

  h1  Sign In 
  form.form-horizontal(role='form')
    .form-group
      label.col-sm-2.control-label(for='li-username') Username
      .col-sm-10
        input#li-username(type='text', placeholder='Username')
    .form-group
      label.col-sm-2.control-label(for='li-password') Password
      .col-sm-10
        input#li-password(type='password', placeholder='Password')
    .form-group
      .col-sm-offset-2.col-sm-10
        button  Sign In 
        |  Or, 
        a(href='#')
          strong Sign Up


template(name='logout')

  form
    h1  Log Out 
    |#{currentUser.username}
    button  Log Out 


template(name='signupLogin_customized')

  #signupLogin_customized
    if loggingIn
      h1  Logging In ...
    else if currentUser
      +logout
    else if visable
        +signup
    else 
        +login
