template(name="scoresuccess")
  .container
    .row.clearfix
      .col-md-12.column
        .col-xs-6.col-xs-offset-3
          .alert.alert-warning
            h3.text-center 评分成功！
            p 您好！您的评分结果已提交，感谢您的支持！
            p 
              a.alert-link(href="spfirstpage") 点击此处返回上一层>>