template(name='SpecialistMessageEdit')
  .container
    .row.clearfix
      .col-md-12.column
        h3.text-center
          | 专家信息修改页面
        .col-md-8.col-md-offset-2
          form.form-horizontal(role="form")
            .form-group
              label.col-sm-2.control-label(for="inputdepartment") 专科
              .col-sm-10
                input.form-control(type="text" placeholder="注1")
            .form-group
              label.col-sm-2.control-label(for="inputdanwei") 单位
              .col-sm-10
                input.form-control(type="text")
            .form-group
              label.col-sm-2.control-label(for="inputspname") 姓名
              .col-sm-10
                input.form-control(type="text")
            .form-group
              label.col-sm-2.control-label(for="inputspphone") 手机
              .col-sm-10
                input.form-control(type="text")
            .form-group
              label.col-sm-2.control-label(for="inputspemail") 邮箱
              .col-sm-10
                input.form-control(type="text")
            .form-group
              label.col-sm-2.control-label(for="inputspadd") 地址
              .col-sm-10
                input.form-control(type="text")
            .form-group
              label.col-sm-2.control-label(for='introduce') 介绍
              .col-sm-10
                textarea#spintroduce.col-xs-6(type='text', rows='3')
            .form-group
              label.col-sm-2.control-label(for='hospitalimage') 图片 
              .col-sm-10
                input#hospitalimage(type="file")
                p 选择的图片会在信息介绍页面显示
          .pull-right
            button.btn.btn-primary 确认 
            a.btn.btn-warning(href="SpecialistLocalMessage") 取消
      .container
       p.text-primary 注1：显示并写入数据库已有资料