template(name='SpecialistLocalMessage') 
  .container
    .row.clearfix
      .col-md-12.column
        p.text-warning 用户权限：系统管理员
        h3.text-center
          | 专家基本信息
        .container
          .col-md-3
            h4
              dl.dl-horizontal
                dt 所在学会
                dd XX学会
                dt 所在单位
                dd XX医院
                dt 省/直辖市
                dd 广东省
                dt 所在市
                dd 广州市
          .col-md-6
            h4    
              dl.dl-horizontal
                dt 名字
                dd 张三
                dt 电话
                dd 1234567 
                dt 邮箱
                dd h@q.com
                dt 地址
                dd Canton,China
            .pull-right
              a.btn.btn-info(href="SpecialistMessageEdit") 修改
              