template(name='specialistlistforalb')
  .container
    // <span class="glyphicon glyphicon-star-emptyboth"></span>
    p.text-warning 用户权限：系统管理员
  .container
    .row.clearfix
      .col-md-12.column
        h3.text-center
          | 专家列表
        .container
          ul.pagination.pagination-sm
            li
              a(href='#') Prev
            li.disabled
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') 5
            li
              a(href='#') Next
          p
            small.text-primary 设计要求：可翻页
          p
            small.text-sucess 后台管理：获取各专家信息并显示
        
        table.table
          thead
            tr
              th
                | 编号
              th
                | 姓名
              th
                | 所在学会
              th
                | 所在单位
              th
                | 所在省/直辖市
              th
                | 所在市
              th
                | 进入评分界面
              th 全部信息
          tbody
            tr
              td
                | 1
              td
                | 张三
              td
                | 中华医学会
              td
                | XX医院
              td
                | 广东省
              td
                | 广州市
              td
                a(href='scorepage')
                  | 评分（点击进入各专家评分页面）
                p.text-warning 点击用户权限：系统管理员
              td
                a(href='spintro') 全部信息
                p.text-warning 点击用户权限：系统管理员
            tr.active
              td
                | 2
              td
                | 李四
              td
                | XX学会
              td
                | XX医院
              td
                | 上海市
              td 
              td
                a(href='scorepage')
                  | 评分
              td
                a(href='spintro') 全部信息
            tr.success
              td
                | 3
              td
                | 王五
              td
                | XX学会
              td
                | XX医院
              td
                | 北京市
              td 
              td
                a(href='scorepage')
                  | 评分
              td
                a(href='spintro') 全部信息
            tr.warning
              td
                | ┋
              td
                | ┋
              td
                | ┋
              td
                | ┋
              td
                | ┋
              td
                | ┋
              td
                a(href='scorepage')
                  | 评分
              td
                a(href='spintro') 全部信息
        .container
          a.btn.btn-primary(href='spadd') 增加
        ul.pagination
          li
            a(href='#') Prev
          li.disabled
            a(href='#') 1
          li
            a(href='#') 2
          li
            a(href='#') 3
          li
            a(href='#') 4
          li
            a(href='#') 5
          li
            a(href='#') Next
  p.page-header

