template(name='SpecialistForHOS')
  .container
    // <span class="glyphicon glyphicon-star-emptyboth"></span>
    p.text-warning 用户权限：初级会员/普通会员/理事会员/常务理事会员/医院录入员
  .container
    .row.clearfix
      .col-md-12.column
        h3.text-center
          | XX科专家介绍
        .container
          .col-md-10.col-md-offset-1.column
            +DepartmentNavbar
            //此Template是科室导航
            +SpecialistTable
            +SpecialsPageList
            //此Template是翻页
        
          p
            small.text-sucess 后台管理：获取各专家信息并显示            


template(name='DepartmentNavbar')
  //此Template是科室导航
  ul.list-inline
    li 专科：
    li 
      a(href="#") A科
    li 
      a(href="#") B科
    li 
      a(href="#") C科
    li 
      a(href="#") D 科
    li 
      a(href="#") E科
    li
      a(href="#") ……（设计要求：数据库上限为32个专科;后台管理：点击按钮后，获取并显示指向专科的信息）

template(name='SpecialistTable')
  table.table
    thead
      tr
        th
          | 编号
        th
          | 姓名
        th
          | 所在学会
        th
          | 所在单位
        th 所在省/直辖市
        th 所在市
        th 专家介绍
    tbody
      tr
        td
          | 1
        td
          | 张三
        td
          | 中华学会
        td
          | XX医院
        td 北京市
        td 
        td 
          a(href='spintro') 详细介绍
      tr
        td
          | 2
        td
          | 李四
        td
          | XX学会
        td
          | XX医院
        td
          | 广东省
        td 深圳市
        td 
          a(href='spintro') 详细介绍
      tr
        td
          | ┋
        td
          | ┋
        td
          | ┋
        td
          | ┋
        td
          | ┋
        td
          | ┋
        td 
          a(href='spintro') 详细介绍

template(name='SpecialsPageList')
  //此Template是翻页
  .pull-right
    ul.pagination
      li
        a(href='#') Prev
      li.disabled
        a(href='#') 1
      li
        a(href='#') 2
      li
        a(href='#') 3
      li
        a(href='#') 4
      li
        a(href='#') 5
      li
        a(href='#') Next
      p
        small.text-primary 设计要求：可翻页          