template(name='navbar_collapse')
  #navbar-collapse.collapse.navbar-collapse

    ul.nav.navbar-nav

      //+items

      +items2

      //+notifications

      //+dropdown1

    +searchform

    +wlist

    //+DynamicTemplate template= getTemplate data= getDataContext


    +navbar_right
