template(name='qshareIntroduction')
  .container
    // <span class="glyphicon glyphicon-star-emptyboth"></span>
    p.text-warning 用户权限：普通会员/理事会员/常务理事会员/医院录入员/评委和系统管理员
  .container
    .col-xs-8.col-xs-push-2
      .jumbotron
        h3.text-center
          | 平台简介
        .row
          small 要点：详细介绍HQ-Share
        p 什么是HQ-Share.
        .row
        p.lead HQ-Share评价方法
        p XXXXX.
        p
     

