template(name='navbar')
  nav.navbar.navbar-default(role='navigation')
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      
      +UI.dynamic template='brand'

    #navbar-collapse.collapse.navbar-collapse
      //+navbarnav equally:
      +UI.dynamic template='navbarnav'
      +searchform
      +wlist
      +DynamicTemplate template= getTemplate data= getDataContext
      +navbarright

