template(name="qshareApplicationSuccess")
  .container
    .row.clearfix
      .col-md-12.column
        .col-xs-6.col-xs-offset-3
          .alert.alert-warning
            h3.text-center 申请提交成功！
            p 您好！您的申请已提交，我们正在接收您的申请信息，并将在5个工作日内与您联系，谢谢！
            |如您想更详尽地了解本平台，欢迎致电xxxxxx
            p 
              a.alert-link(href="home") 点击此处返回上一层>>