template(name="vipintro")
  .container
    .row.clearfix
      .col-md-12.column
        h3.text-center 会员权益
        .panel.panel-info
          .panel-heading
            h3.panel-title 初级会员权限
          .panel-body
            ul 
              li ....
              li .....
        .panel.panel-info
          .panel-heading
            h3.panel-title 普通会员权限
          .panel-body
            ul 
              li ....
              li .....
        .panel.panel-info
          .panel-heading
            h3.panel-title 理事会员权限
          .panel-body
            ul 
              li ....
              li .....
        .panel.panel-info
          .panel-heading
            h3.panel-title 等等
          .panel-body
            ul 
              li ....
              li .....