template(name='mediaCard')
  .panel.panel-default.bootcards-media
    .panel-heading
      h3.panel-title Media Card Heading
    +mediaBody
    img.img-responsive(src='http://www.teamstudio.com/Portals/218295/images/istock_000001242290small.jpg')
    +mediaFooter
