template(name="header")
  header.navbar
    .navbar-inner
      //a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
      a.btn.btn-navbar(data-toggle='collapse', data-target='.collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href="{{pathFor 'home'}}") AppName
      //.nav-collapse.collapse
      .collapse.navbar-collapse 
        ul.nav
          if currentUser 
            li
              a(href="{{pathFor 'home'}}") Submit Post
            li.dropdown
              +notifications
        ul.nav.pull-right
          li
            +loginButtons
