template(name='defaultCard')
  .panel.panel-default
    .panel-heading.clearfix
      h3.panel-title.pull-left GitHub projects
    .list-group
      .list-group-item
        h4 pcuci:bootcards Meteor Package
        p.list-group-item-text
          a(href='https://github.com/pcuci/bootcards') https://github.com/pcuci/bootcards
      .list-group-item
        h4 bootcards-demo Code (this site)
        p.list-group-item-text
          a(href='https://github.com/pcuci/bootcards-demo') https://github.com/pcuci/bootcards-demo
    .panel-footer
      small Built with Bootcards - Base Card
