template(name='mediaFooter')
  .panel-footer
    .btn-group.btn-group-justified
      .btn-group
        button.btn.btn-default
          i.fa.fa-arrow-down
          |                   Download
      .btn-group
        button.btn.btn-default
          i.fa.fa-star
          |                   Favorite
      .btn-group
        button.btn.btn-default
          i.fa.fa-envelope
          |                   Email
