template(name='mediaBody')
  .panel-body
    | Media card description lorem ipsum dolor est compendium
    img.img-responsive(src='http://www.teamstudio.com/Portals/218295/images/istock_000001242290small.jpg')
    +defaultCard
