template(name='managementDropdwon')
  li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      | 管理控制台
      span.caret
    ul.dropdown-menu(role='menu')
      li
        a(href='messageBox') 用户申请箱
      li
        a(href='unreadMessage') 未读申请
      li
        a(href='undoneMessage') 未处理申请
      li
        a(href='manage') 
      li.divider
      li
        a(href='XiugaiHuiyuanQuanxian')  修改会员权限
      li.divider
      li
        a(href='GonggaoGuanli') 公告管理
      li.divider
      li
        a(href='QuanzhongList') 权重列表
      li
        a(href='QuanzhongShezhi') 权重设置
