template(name='messageBox')
  .container
    .row
      .col-md-12.column
        p.text-warning 用户权限：系统管理员
        h3.text-center 信息箱
        p
          ul
            li 
              a(href="#") HQ-Share申请
            li 
              a(href="#") XX医院数据修改申请
            li 
              a(href="#") XX专家个人信息修改申请
            li 等