template(name='navbar')
  nav.navbar.navbar-default(role='navigation')
    +brand
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      +navbarnav
      +searchform
      +wlist
      +navbarright
