template(name='navbarnav')
  ul.nav.navbar-nav
    li.active
      a(href= "{{pathFor 'home'}}") Posts
    li
      a(href= "{{pathFor 'home'}}") New
    li.dropdown
        +notifications
    li.dropdown
        +dropdown1

