template(name='navbar')
  nav.navbar.navbar-default(role='navigation')
    +brand
    #navbar-collapse.collapse.navbar-collapse
      +navbarnav
      +searchform
      +wlist
      +DynamicTemplate template= getTemplate data= getDataContext
      +navbarright
