template(name='searchform')
  if visible
      form.navbar-form.navbar-left(role='search')
        .form-group
          input#searchKey.form-control(type='text')
        button#search.btn.btn-default(type='submit') Search
