template(name="applisuccess")
  .container
    .row.clearfix
      .col-md-12.column
        .col-xs-6.col-xs-offset-3
          .alert.alert-warning
            h3.text-center 申请成功！
            p 您好！您的信息修改申请已发出，我们将在5个工作日内审核
            |处理及更新信息，感谢您的积极参与！
            p 
              a.alert-link(href="deforhos") 点击此处返回上一层>>

