template(name="deallhos")
  .container
    .row.clearfix
      .col-md-12.column
        p.text-warning 用户权限：系统管理员
        h3.text-center
          | 专科医院总览
        +deallhossearch
        .container
          table.table.table-hover.table-responsive
            thead
              tr
                th 所在省/直辖市
                th 所在市
                th 分类
                th 级别
                th 医院
                th 科室
                th 指标
                th 全国均值
                th 
            tbody
              tr
                td 广东省
                td 清远市
                td 县级医院
                td 二甲
                td 
                  a(href="hosallde") A医院
                td A科
                td 重点手术率
                td 34%
                td 
                  button.btn.btn-info 取消
              tr
                td 广东省
                td 佛山市
                td 县级医院
                td 二甲
                td 
                  a(href="hosallde") B医院
                td A科
                td 重点手术率
                td 43%
                td 
                  button.btn.btn-info 取消
              tr
                td ┋
                td
                td
                td
                td
                td
                td
                td
                td
        .pull-right
          ul.pagination
              li
                a(href='#') Prev
              li.disabled
                a(href='#') 1
              li
                a(href='#') 2
              li
                a(href='#') 3
              li
                a(href='#') 4
              li
                a(href='#') 5
              li
                a(href='#') Next