template(name='deallhossearch')
  .container
    .row.clearfix
      .col-md-12.column
        .collapse.navbar-collapse(id='deallhossearch')
          .btn-group 
            button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown") 所在省/直辖市
              span.caret  
            ul.dropdown-menu(role="menu")
              li
                a(href="#") 广东省
              li
                a(href="#") 广西省
              li
                a(href="#") 海南省
              li
                a(href="#") 等
          .btn-group
            button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown") 所在市
              span.caret  
            ul.dropdown-menu(role="menu")
              li
                a(href="#") 广州市
              li
                a(href="#") 珠海市
              li
                a(href="#") 等
          .btn-group
            button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown") 分类
              span.caret  
            ul.dropdown-menu(role="menu")
              li
                a(href="#") 省会城市医院
              li
                a(href="#") 地级市医院
              li
                a(href="#") 县级医院
              li
                a(href="#") 民营医院
              li
                a(href="#") 中医院
          .btn-group
            button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown") 级别
              span.caret  
            ul.dropdown-menu(role="menu")
              li
                a(href="#") 一级
              li
                a(href="#") 二乙
              li
                a(href="#") 二甲
              li
                a(href="#") 三乙
              li
                a(href="#") 三甲
          .btn-group
            button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown") 医院
              span.caret  
            ul.dropdown-menu(role="menu")
              li
                a(href="#") XX医院
              li
                a(href="#") XX医院
              li
                a(href="#") XX医院
              li
                a(href="#") 等                              
          .btn-group
            button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown") 科室
              span.caret  
            ul.dropdown-menu(role="menu")
              li
                a(href="#") A科
              li
                a(href="#") B科
              li
                a(href="#") C科
              li
                a(href="#") 等
          .btn-group
            button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown") 一级指标
              span.caret  
            ul.dropdown-menu(role="menu")
              li
                a(href="#") 一般指标
              li
                a(href="#") 技术指标
              li
                a(href="#") 学术指标
              li
                a(href="#") 等  
          .btn-group
            button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown") 二级指标
              span.caret  
            ul.dropdown-menu(role="menu")
              li
                a(href="#") 人力资源
              li
                a(href="#") 死亡率
              li
                a(href="#") 重点率
              li
                a(href="#") 等
          .btn-group
            button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown") 三级指标
              span.caret  
            ul.dropdown-menu(role="menu")
              li
                a(href="#") 重点手术率
              li
                a(href="#") 重点病重率
              li
                a(href="#") 等                
          .btn-group
            button.btn.btn-info(type="button") 加入          
        br  