template(name="hosedde")
  .container
    .row.clearfix
      .col-md-12.column
        p.text-warning 用户权限：医院录入员/医院领导
        h3.text-center
          | XX医院指标数据修改页面
        .container
          .col-md-10.col-md-offset-1.column
            ul.list-inline
              li 专科：
              li 
                a(href="#") A科
              li 
                a(href="#") B科
              li 
                a(href="#") C科
              li 
                a(href="#") D 科
              li 
                a(href="#") E科
              li
                a(href="#") ……（设计要求：数据库上限为32个专科;后台管理：点击按钮后，获取并显示指向专科的信息）
            h3 A科
            table.table.table-hover.table-responsive
              thead
                tr
                  th 一级指标
                  th 二级指标
                  th 三级指标
                  th 本院数值
              tbody
                tr
                  td 指标A
                  td 指标B
                  td 指标C
                  td 
                    input(type="text" placeholder="注1") 
                tr
                  td 指标A
                  td 指标B
                  td 指标C
                  td 
                    input(type="text" placeholder="录入或修改数值")
                tr
                  td ┋
                  td ┋
                  td ┋
                  td 
                    input(type="text" placeholder="录入或修改数值")
            a.btn.btn-primary(href="applisuccess") 申请
            a.btn.btn-warning(href="deforhos") 取消
            .container
            br
            p 注：
            p 1.后台管理：如果数据库已有数值，显示该数值，否则，为空.
