template(name='signup')

  h1  注册
    small 测试期间，测试用户帐号和密码为“guest”

  p
    | 是新用户吗？请注册. 
    | 否则, 请
    a(href='#')
      strong 登录

  form
    input#su-email(type='text', placeholder='Email')
    input#su-username(type='text', placeholder='Username')
    input#su-password(type='password', placeholder='Password')
    .col-sm-offset-2.col-sm-10
      button  注册


template(name='login')

  h1  登录 
    small 测试期间，测试用户帐号和密码为“guest”，请先注册后登录
  form.form-horizontal(role='form')
    .form-group
      label.col-sm-2.control-label(for='su-username') Username
      .col-sm-10
        input#li-username(type='text', placeholder='Username')
    .form-group
      label.col-sm-2.control-label(for='su-Password') Password
      .col-sm-10
        input#li-password(type='password', placeholder='Password')
    .form-group
      .col-sm-offset-2.col-sm-10
        button  登录 
        |  如果是新用户,请 
        a(href='#')
          strong 注册


template(name='logout')

  form
    h1  Log Out 
    |#{currentUser.username}
    button  Log Out 


template(name='signupLogin_customer')

  #login
    if loggingIn
        h1  Logging In ... 
    else if currentUser
      +logout
    else if visable
      +signup
    else 
      +login
